<div class="max-w-xs mx-auto">
  <%= header "Sign up" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :display_name, class: label_classes.render %>
      <div class="mt-1"><%= f.text_field :display_name, autofocus: true, class: input_classes.render %></div>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: label_classes.render %>
      <div class="mt-1"><%= f.email_field :email, autocomplete: "email", class: input_classes.render %></div>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: label_classes.render %>
      <div class="mt-1"><%= f.password_field :password, autocomplete: "new-password", class: input_classes.render %></div>
      <% if @minimum_password_length %>
      <span class="<%= hint_classes.render %>">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: label_classes.render %>
      <div class="mt-1"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_classes.render %></div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: button_classes.render %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
